/*  CSS RESET */

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

/* GENERAL */

body{
    font-family: sans-serif;
}

.bg-yellow{
    background-color: #FFD166;
}

.bg-green{
    background-color: #0CD6A1;
}

.bg-red{
    background-color: #F0466F;
}

/* UTILITIES */

.container{
    max-width: 1200px;
    margin: 0 auto;
}

/* SECTION BOARD */

#buzzfizzgame{
    background-color: #083B4C;
}

/* HEADER */

.game-title{
    text-align: center;
    font-size: 60px;
    color : white;
    font-weight: bold;
}


/* GRID */

.grid {
    display: grid;
    grid-template-columns: repeat(7 , auto);
    padding: 10px;
    column-gap: 20px;
    row-gap: 20px;
  }

  .grid-item{
    background-color: #1389B2;
   border: 2px solid rgba(0, 0, 0, 0.8);
   border-radius: 20px;
   height: 100px;
   width: 100px;
   font-size: 20px;
   font-weight: bold;
   line-height: 100px;
   vertical-align: middle;
   text-align: center;
 }

  .grid-item-red {
     background-color: #F0466F;
    border: 2px solid rgba(0, 0, 0, 0.8);
    border-radius: 20px;
    height: 100px;
    width: 100px;
    font-size: 20px;
    font-weight: bold;
    line-height: 100px;
    vertical-align: middle;
    text-align: center;
  }

  .grid-item-green {
    background-color: #0CD6A1;
   border: 2px solid rgba(0, 0, 0, 0.8);
   border-radius: 20px;
   height: 100px;
   width: 100px;
   font-size: 20px;
   font-weight: bold;
   line-height: 100px;
   vertical-align: middle;
   text-align: center;
 }

 .grid-item-yellow {
    background-color: #FFD166;
   border: 2px solid rgba(0, 0, 0, 0.8);
   border-radius: 20px;
   height: 100px;
   width: 100px;
   font-size: 20px;
   font-weight: bold;
   line-height: 100px;
   vertical-align: middle;
   text-align: center;
 }